@import url('https://fonts.googleapis.com/css?family=Roboto|Reem+Kufi');
@import '../styles/normalize.css';

html{
  font-family: 'Roboto', sans-serif;
  font-size:32.5%;
}
@media screen and (min-width: 900px) {
  html{
    font-size: 42.5%;
  }
}
  
@media screen and (min-width: 1200px) {
  html{
    font-size: 62.5%;
  }
}


h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
}
p{
  font-size: 2rem;
}

body{
  background-color: #121f2c;
  color: #fff;
}